#title {
    font-family: 'Arial Black', sans-serif;
    font-size: 30px;
    text-align: center;
    color: black
}
#show {
    background-color: mediumblue;
    color: white;
}
#info {
    font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    margin: 10px 0px 5px 0px;
    color: mediumblue;
}
#json {
    background-color: transparent;
    border-color: transparent;
}