<ActionBar text="MMR Test"></ActionBar>
<ScrollView>
    <StackLayout orientation="vertical" #container>
        <Label text="Media Metadata Retriever" id="title"></Label>
        <TextField hint="Enter file path here..." [(ngModel)]="path"></TextField>
        <Button text="SHOW METADATA" (tap)="getMetadata()" id="show"></Button>
        <Label text="Album Art:" id="info"></Label>
        <Image id="albumArt" width="300" height="300" style="text-align: center;"></Image>
        <Label text="Title:" id="info"></Label>
        <TextView text="{{ title }}" hint="Title"></TextView>
        <Label text="Artist:" id="info"></Label>
        <TextView text="{{ artist }}" hint="Artist name"></TextView>
        <Label text="All Metadata:" id="info"></Label>
        <TextView text="{{ allMetadata }}" hint="All Metadata" editable="false" id="json"></TextView>
    </StackLayout>
</ScrollView>